.page-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 20px;
}

.steps-line-container {
  padding-top: 50px;
}

.step-button-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
}

.steps-container {
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  border: 1px dotted #475B5A;
  border-radius: 25px;
  gap: 15px;
}