.page-container {
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  border: 1px dotted #475B5A;
  border-radius: 25px;
  gap: 15px;
}

.paciente-info__input {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.btn-wrapper {
  display: flex;
}

.btn-next {
  margin-top: 20px;
  margin-left: auto;
}